asgiref==3.8.1
Django==5.1.4
django-cors-headers==4.6.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
mysqlclient==2.2.6
pillow==11.0.0
sqlparse==0.5.3
tzdata==2024.2
faiss-cpu==1.9.0.post1
openai==1.60.0
PyMySQL==1.1.1
sentence-transformers==3.3.1
google-auth==2.38.0
google-genai==1.2.0
gradio==5.16.1
gradio_client==1.7.0
python-dotenv==1.0.1
fuzzywuzzy==0.18.0
rank-bm25==0.2.2
jieba==0.42.1
websockets==14.2
