{% extends '[BASE]ALL.html' %}
{% load static %}

{% block app_title %}
<h3>新增遊戲資料</h3>
{% endblock %}

{% block app_content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="game_title" class="form-label">遊戲名稱</label>
        <input type="text" class="form-control" name="game_title" id="game_title" placeholder="請輸入遊戲名稱">
    </div>
    <div class="mb-3">
        <label for="release_date" class="form-label">發售日期</label>
        <input type="date" class="form-control" name="release_date" id="release_date">
    </div>
    <div class="mb-3">
        <label for="game_genre" class="form-label">遊戲類型</label>
        <input type="text" class="form-control" name="game_genre" id="game_genre" placeholder="請輸入遊戲類型">
    </div>
    <div class="mb-3">
        <label for="game_platform" class="form-label">遊戲平台</label>
        <input type="text" class="form-control" name="game_platform" id="game_platform" placeholder="請輸入遊戲平台">
    </div>
    <div class="mb-3">
        <label for="developer" class="form-label">開發商</label>
        <input type="text" class="form-control" name="developer" id="developer" placeholder="請輸入開發商名稱">
    </div>
    <div class="mb-3">
        <label for="game_description" class="form-label">遊戲描述</label>
        <textarea class="form-control" name="game_description" id="game_description" rows="5" placeholder="請輸入遊戲描述"></textarea>
    </div>
    <div class="mb-3">
        <label for="poster" class="form-label">遊戲海報（上傳檔案）</label>
        <input type="file" class="form-control" name="poster" id="poster"/>
    </div>
    <div class="mb-3">
        <label for="poster_url" class="form-label">遊戲海報（圖片網址）</label>
        <input type="url" class="form-control" name="poster_url" id="poster_url" placeholder="請輸入圖片網址">
    </div>
    <button type="submit" class="btn btn-primary">新增遊戲資料</button>
</form>
{% endblock %}
